*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family:'Minha_fonte';
    src: url(fonts/DS-DIGI.woff2) format('woff2');
    font-display: swap;
}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
 
}
:root{
    --background:#FFF9F9;
    --background_clock_elements:#D9534F;
    --clock:#FFB8B8;
    --start:#F5A3A3;
    --font:#f5f5f5;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

#sw_color{
    width: 100%;
    max-width: 60px;
    min-height: 60px;
    border-radius: 100%;
    color: transparent;
    opacity: 30%;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--background);
}
section{
    display:flex;
    flex-direction: column;
    gap: 90px;
}

#operacao {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    display: flex;
    justify-content: center;
    background-color: var(--background_clock_elements);
    color: var(--clock);
    width: 100%;
    min-width: 1215px;
    min-height: 462px;
    font-size: 500px;
    font-family: 'Minha_fonte';
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px ;
    color: var(--background_clock_elements);
    gap: 15px;
}

#modo, #operacao, #estudo, #pausa{
    font-family:'Minha_fonte';
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    font-size: 48px;
    color: var(--font);
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 205px;
    height: 53px;
    border-radius: 10px;
    background-color: var(--background_clock_elements);
}
::placeholder {
    display: flex;
    text-align: center;
    color: var(--font);
    opacity: 40%;
}

#start_stop{
    width: 100%;
    min-width:60px;
    min-height: 60px;
    border-radius: 100px;
    color: transparent;
    background-color:var(--start);
    background-image: url(./imagens/play.png);
    background-position: center;
    background-size:90px;
    opacity: 0.5;
}
#stop{
    width: 100%;
    min-width:60px;
    min-height: 60px;
    border-radius: 100px;
    color: transparent;
    background-color:var(--start);
    background-image: url(./imagens/stop.png);
    background-position: center;
    background-size:50px;
    opacity: 0.5;
}


.color1{
    --background:#FFF9F9;
    --background_clock_elements:#D9534F;
    --clock:#FFB8B8;
    --start:#F5A3A3;
}

.color2{
    --background:#1A2A1A;
    --background_clock_elements:#2D4A2D;
    --clock:#8CCB8C;
    --start:#6BA76B;
}

.color3{
    --background:#2A1A1A;
    --background_clock_elements:#4A2D2D;
    --clock:#CB8C8C;
    --start:#F5A3A3;
}
.color4{
    --background:#97181C;
    --background_clock_elements:#751016;
    --clock:#FFFFFF;
    --start:#751016;
}

.start{
    background-image: url(./imagens/play.png);
    background-size: 150%;
    background-position: center;
}
.pause{
    background-image: url(./imagens/pause.png);
    background-size: 150%;
    background-position: center;
}

input:disabled {
    cursor: not-allowed;
}



